name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Restore
        run: dotnet restore src/Railbird.sln
      - name: Build
        run: dotnet build src/Railbird.sln -c Release --no-restore
      - name: Test
        run: dotnet test src/Railbird.sln -c Release --no-build
